.page-wrapper {
  display: flex;
  padding: 1rem;
}

.post {
  width: 80%;
  padding: 2rem;
}

.post-header {
  max-height: 50vh;
  width: 100%;
}

.post-title {
  margin: 2rem 0;
}

.back-button {
  font-size: 1.2rem;
  color: hsl(175, 22, 22);
  cursor: pointer;
  margin: .5rem 1rem;
  display: flex;
  align-items: center;
}

.post-details {
  display: flex;

  p {
    margin-left: 0.25rem;
  }
}

.post-text {
  margin-top: 2rem;

  p {
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .page-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .post {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .page-wrapper {
    margin: 0;
    padding: 0;
  }
  
  .post-wrapper {
    width: 100%;
  }
}
