.post-wrapper {
  width: 60%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1rem;
}

.post-header {
  max-height: 50vh;
  width: 100%;
}

.post-title {
  margin: 2rem 0;
}

.back-button {
  font-size: 1.2rem;
  color: hsl(175, 22, 22);
  cursor: pointer;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.post-details {
  display: flex;

  p {
    margin-left: 0.25rem;
  }
}

.post-text {
  margin-top: 2rem;

  p {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .post-wrapper {
    width: 100%;
  }
}
