a {
  text-decoration: none;
}

.post-list-wrapper {
  font-size: 0.9rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5vh 0;

  .blog-post {
    margin: 2rem 0;
    flex: 1 1 40%;
  }

  .blog-post-wrapper {
    display: flex;
  }

  .post-text {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(175, 22, 22);

    .post-description {
      margin-top: 1rem;
      max-width: 20rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .post-date-wrapper {
      display: flex;
    }
  }
}
