a {
  text-decoration: none;
}

.page-wrapper {
  display: flex;
  padding: 1rem;
}

.post-list-wrapper {
  font-size: 0.9rem;
  margin: 0 auto;
  display: flex;
  flex: 1 1 80%;
  justify-content: center;
  flex-wrap: wrap;

  .blog-post {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20rem;
  }

  .post-img {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .post-text {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(175, 22, 22);
    margin-top: 1rem;
    text-align: center;

    .post-date-wrapper {
      display: flex;
    }
  }
}

@media (max-width: 767px) {
  .page-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .blog-post {
    margin: 2rem 0;
  }

  .post-text {
    // font-size: 0.6rem;
    text-align: center;
  }

  .post-img {
    width: 20rem;
  }

  .page-wrapper {
    margin: 0;
    padding: 0;
  }

  .post-list-wrapper {
    width: 100vw;
  }
}
