.post-list-wrapper {
  padding: 2.5rem 0;
}

.post-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;

  .blog-post {
    flex: 1 1 50%;
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .blog-post a {
    display: flex;
  }

  li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    // border-top: 1rem solid hsl(176, 22, 86);

    a {
      text-decoration: none;
      display: flex;
      align-items: stretch;
      color: #3a3a3a;

      .blog-img {
        margin-right: 1rem;
      }

      .post-img {
        width: 100%;
        height: 100%;
      }

      .post-text {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }

    .post-description {
      color: hsl(175, 22, 22);
    }
  }
}

@media (max-width: 600px) {
  .blog-post a {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
  }
}
