// .post-list-wrapper {
//   padding: 2.5rem 0;
// }

// .post-list {
//   width: 80%;
//   margin: 0 auto;
//   display: flex;
//   flex-wrap: wrap;
//   list-style-type: none;

//   .blog-post {
//     flex: 1 1 50%;
//     min-width: 30rem;
//     max-width: 40%;
//   }

//   .blog-post a {
//     display: flex;
//   }

//   li {
//     padding: 0.5rem;
//     // border-top: 1rem solid hsl(176, 22, 86);

//     a {
//       text-decoration: none;
//       color: #3a3a3a;

//       .blog-img {
//         margin-right: 1rem;
//       }

//       .post-text {
//         padding: 0.5rem;
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         justify-content: center;
//       }
//     }

//     .post-description {
//       color: hsl(175, 22, 22);
//     }
//   }
// }

// @media (max-width: 600px) {
//   .blog-post a {
//     display: flex;
//     flex-direction: column;
//     max-width: 90vw;
//   }
// }

.post-list-wrapper {
  width: 75%;
  margin: 0 auto;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
}

.blog-post-wrapper {
  color: hsl(175, 22, 22);
  text-decoration: none;
  margin: 2.5rem 1rem;
  display: flex;
  max-width: 40%;
}

.post-text {
  position: relative;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .post-description {
    margin-top: 1rem;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-size: 0.9rem;
  }
}

.post-date-wrapper {
  display: flex;
  margin-bottom: 0.5rem;

  p {
    margin-left: 0.25rem;
  }
}

@media (max-width: 800px) {
  .post-description {
    display: none;
  }
}
