@import "../styles/variables.scss";

.primary {
  font-family: $font;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  background-color: hsl(199, 75%, 54%);
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.2s;
}

.primary_sliding {
  font-family: $font;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  background-color: #32abe2;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.5s;
}

.primary_sliding:hover {
  padding: 1rem 1rem 1rem 3rem;
}

.primary:active,
.primary:focus,
.primary:hover {
  outline: none;
  // background-color: hsl(45.06, 95.95%, 48.43%);
  background-color: hsl(199, 95%, 54%);
}

.secondary {
  border: none;
  padding: 0.5rem 1rem;
  color: #32abe2;
  cursor: pointer;
  font-family: $font;
  transition: all 0.2s;
  font-size: 1rem;
}

.secondary:focus,
.secondary:hover {
  background-color: hsl(44.71, 100%, 50%);
  color: white;
}

.secondary:active,
.secondary:focus {
  outline: none;
}
