@import "../styles/variables.scss";

.primary {
  font-family: $font;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  background-color: #000;
  color: whitesmoke;
  cursor: pointer;
  transition: all .5s;
}

.primary_sliding {
  font-family: $font;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  background-color: #000;
  color: whitesmoke;
  cursor: pointer;
  transition: all .5s;
}

.primary_sliding:hover {
  padding: 1rem 1rem 1rem 3rem;
}