@import "../styles/variables.scss";

.primary {
  font-family: $font;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  background-color: #32abe2;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.5s;
}

.primary_sliding {
  font-family: $font;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  background-color: #32abe2;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.5s;
}

.primary_sliding:hover {
  padding: 1rem 1rem 1rem 3rem;
}

.primary:active,
.primary:focus {
  outline: none;
}

.secondary {
  border: 1px solid #32abe2;
  padding: 0.5rem 1rem;
  color: #32abe2;
  cursor: pointer;
  font-family: $font;
  transition: all 0.2s;
}

.secondary:focus,
.secondary:hover {
  background-color: yellowgreen;
  color: white;
}

.secondary:active,
.secondary:focus {
  outline: none;
}
