@import "../styles/variables.scss";

.primary {
  font-family: $font;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #000;
  color: whitesmoke;
}
