.header {
  position: fixed;
  height: 7.5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  border-bottom: 1px solid lightgray;
  background-color: whitesmoke;
}

.logo {
  width: 1rem;
  height: 1rem;
}

.horizontal-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 0.9rem;
  font-weight: 700;
  transition: all 0.1s;
  text-transform: uppercase;

  .nav-link {
    margin: 0.75rem;
    padding: 0.25rem 0;
    text-decoration: none;
    color: #3a3a3a;
    transition: all 0.1s;
    position: relative;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;

    .nav-link.active {
      font-weight: 900;
    }

    // .nav-link:not(.active):hover::after,
    // .navlink:not(.active):focus::after,
    // .navlink:not(.active):active::after {
    //     width: 100%;
    // }
  }

  .nav-link:hover::after,
  .navlink:focus::after,
  .navlink:active::after {
    width: 100%;
  }

  .nav-link.active {
    // color: rgb(255, 255, 255);
  }

  .nav-link::after {
    content: "";
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.4s;
    transform: translateY(100%);
    width: 0;
    height: 1px;
    background-color: black;
  }

  .nav-link.active::after {
  }

  // .nav-link:not(.active):hover::after,
  // .navlink:not(.active):focus::after,
  // .navlink:not(.active):active::after {
  //     width: 100%;
  // }
}
