.header {
  position: fixed;
  height: 7.5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  border-bottom: 1px solid lightgray;
  background-color: whitesmoke;
}

.logo {
  width: 1rem;
  height: 1rem;
}

.horizontal-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 0.9rem;
  font-weight: 700;
  transition: all 0.1s;
  text-transform: uppercase;

  .nav-link {
    margin: 0.75rem;
    padding: 0.25rem 0;
    text-decoration: none;
    color: #3a3a3a;
    transition: all 0.1s;
    position: relative;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;

    .nav-link.active {
      font-weight: 900;
    }

    // .nav-link:not(.active):hover::after,
    // .navlink:not(.active):focus::after,
    // .navlink:not(.active):active::after {
    //     width: 100%;
    // }
  }

  .nav-link:hover::after,
  .navlink:focus::after,
  .navlink:active::after {
    width: 100%;
  }

  .nav-link.active {
    // color: rgb(255, 255, 255);
  }

  .nav-link::after {
    content: "";
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.4s;
    transform: translateY(100%);
    width: 0;
    height: 1px;
    background-color: black;
  }

  .nav-link.active::after {
  }

  // .nav-link:not(.active):hover::after,
  // .navlink:not(.active):focus::after,
  // .navlink:not(.active):active::after {
  //     width: 100%;
  // }
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  background-color: rgb(213, 228, 227);

  .vertical-nav {
    margin-top: 50%;
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin: 1rem;
    }

    .nav-link {
      text-decoration: none;
      color: black;
      transition: all 0.1s;
      position: relative;
      border-bottom: 1px solid #ddd;
      white-space: nowrap;
      text-transform: uppercase;
      font-weight: 500;

      .nav-link.active {
      }

      // .nav-link:not(.active):hover::after,
      // .navlink:not(.active):focus::after,
      // .navlink:not(.active):active::after {
      //     width: 100%;
      // }
    }

    .nav-link:hover::after,
    .navlink:focus::after,
    .navlink:active::after {
      width: 100%;
    }

    .nav-link.active {
      // color: rgb(255, 255, 255);
    }

    .nav-link::after {
      content: "";
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width 0.4s;
      transform: translateY(100%);
      width: 0;
      height: 1px;
      background-color: black;
    }

    .nav-link.active::after {
    }

    // .nav-link:not(.active):hover::after,
    // .navlink:not(.active):focus::after,
    // .navlink:not(.active):active::after {
    //     width: 100%;
    // }
  }
}

.hamburger-icon-wrapper {
  position: absolute;
  z-index: 3;
}

.hamburger-icon-open {
  cursor: pointer;
  position: relative;
  height: 1rem;
  width: 1.6rem;
  border-bottom: 2px solid #3a3a3a;
  border-top: 2px solid #3a3a3a;
}

.hamburger-icon-open:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  content: "";
  border-bottom: 2px solid #3a3a3a;
  color: #3a3a3a;
}

.hamburger-icon-closed {
  cursor: pointer;
  width: 1.6rem;
  height: 1rem;
}

.hamburger-icon-closed::before,
.hamburger-icon-closed::after {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  width: 0.1rem;
  height: 1.6rem;
  background-color: #3a3a3a;
}

.hamburger-icon-closed::before {
  transform: rotate(45deg);
}

.hamburger-icon-closed::after {
  transform: rotate(-45deg);
}
