.hero-wrapper {
  // margin-top: 5rem;
  position: relative;
  min-height: calc(100vh - 5rem);
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);

  .hero-text-wrapper {
    grid-column: 1/9;
    grid-row: 1/12;
    background-color: hsl(176, 22, 86);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 7.5vh 7.5vw;

    .hero-title {
      font-size: 4rem;
    }

    .hero-description {
      margin: 1rem 0.5rem;
      font-size: 0.9rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1rem;
    }

    .separator {
      height: 1px;
      margin: 0.5rem 0;
      width: 50%;
      border-top: 1px solid whitesmoke;
      border-bottom: 1px solid lightgray;
    }
  }

  .hero-image-wrapper {
    grid-column: 7/17;
    grid-row: 1/17;

    .slide-wrapper {
      position: relative;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }

  .scroll-prompt {
    grid-column: 3/5;
    grid-row: 16;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .hero-wrapper {
    // margin-top: 5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    .hero-text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: rgb(213, 228, 227);
      padding: 7.5vh 7.5vw;

      .hero-description {
        margin: 1rem 0;
        text-transform: uppercase;
        font-weight: 600;
      }

      .separator {
        height: 1px;
        margin: 0.5rem 0;
        width: 75%;
        border-top: 1px solid whitesmoke;
        border-bottom: 1px solid lightgray;
      }
    }

    .hero-image-wrapper {
      width: 100vw;
      height: 50vh;
    }

    .scroll-prompt {
      display: none;
    }
  }
}
