@import "../styles/variables.scss";

.hero-wrapper {
  // margin-top: 5rem;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 2vh;
  height: calc(90vh);
  max-height: calc(90vh);
  min-height: calc(90vh);

  .hero-text-wrapper {
    grid-column: 1/8;
    grid-row: 1/9;
    background: no-repeat bottom left 20px/25%
        url("../../static/img/Transparent-2.png"),
      no-repeat top right 20px/25% url("../../static/img/Transparent.png"),
      linear-gradient(to right, hsl(176, 22, 80), hsl(176, 22, 95));
    // background-color: hsl(176, 22, 86);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 7.5vw;
    position: relative;

    .hero-title {
      font-size: 3.5rem;
    }

    .hero-description {
      font-size: 0.7rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1rem;
    }
  }

  .hero-image-wrapper {
    grid-column: 7/17;
    grid-row: 1/17;
    max-height: calc(100vh - 3.5rem);

    .slide-wrapper {
      position: relative;
      z-index: -1;
      width: 100%;
      height: 100%;
      max-height: 100vh;
    }
  }

  .latest-wrapper {
    position: relative;
    grid-row: 9 / 17;
    grid-column: 1 / 7;
  }
}


.separator {
  height: 1px;
  margin: 0.5rem 0;
  width: 75%;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid lightgray;
}

.button {
  padding: 1rem 0;
  margin-left: 50%;
}

@media (max-width: 1000px) {
  .hero-wrapper {
    margin-top: 1rem;
    grid-gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: fit-content;
    max-height: fit-content;
    min-height: fit-content;

    .hero-text-wrapper {
      order: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: rgb(213, 228, 227);
      padding: 7.5rem 7.5vw;
      background: linear-gradient(to right, hsl(176, 22, 80), hsl(176, 22, 95));
    // background-color: hsl(176, 22, 86);

      .hero-description {
        margin: 1rem 0;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    .hero-image-wrapper {
      order: 2;
      width: 100vw;
      height: 40rem;
    }

    .slide-wrapper {
      max-height: 25rem;
    }
  }

  .latest-wrapper {
    height: 25rem;
    order: 3;
  }
}