@media (min-width: 600px) {
    .hero-wrapper {
        position: absolute;
        top: 5rem;
        left: 0;
        height: 45rem;
        width: 100%;

        .hero-text-wrapper {
            width: 55%;
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 3rem;
            background-color: rgb(213, 228, 227);

            .hero-title {
                font-size: 4rem;
            }

            .hero-description {
                margin: 1rem .5rem;
                font-size: .9rem;
                text-transform: uppercase;
                font-weight: 600;
            }

            .separator {
                height: 1px;
                margin: 0.5rem 0;
                width: 50%;
                border-top: 1px solid whitesmoke;
                border-bottom: 1px solid lightgray;
            }
        }

        .hero-image-wrapper {
            height: calc(100vh - 5rem);
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;

            .slide-wrapper {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        }

        .scroll-prompt {
            font-size: .8rem;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: calc(100vh - 5rem);
            transform: translateY(-100%);
            left: 12.5%;

            img {
                transform: scale(.75);

            }

            p {
                margin: 0 1rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .hero-wrapper {
        margin-top: 5rem;
        height: calc(100vh - 5rem);
        display: flex;
        flex-direction: column-reverse;

        .scroll-prompt {
            display: none;
        }

        .hero-text-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 3rem 1rem;
            background-color: rgb(213, 228, 227);

            .hero-title {
                font-size: 2rem;
            }

            .hero-description {
                margin: 1rem 0;
                font-size: .9rem;
                text-transform: uppercase;
                font-weight: 600;
            }

            .separator {
                height: 1px;
                margin: 0.5rem 0;
                width: 75%;
                border-top: 1px solid whitesmoke;
                border-bottom: 1px solid lightgray;
            }
        }
    }

    .hero-wrapper,
    .hero-text-wrapper {
        position: relative;
    }
}