.hero-wrapper {
    position: absolute;
    top: 5rem;
    left: 0;
    height: 45rem;
    width: 100%;

    .hero-text-wrapper {
        width: 55%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 3rem;
        background-color: rgb(213, 228, 227);

        .hero-title {
            font-size: 4rem;
        }

        .hero-description {
            text-transform: uppercase;
            font-weight: 500;
        }

        .separator {
            height: 1px;
            margin: 0.5rem 0;
            width: 50%;
            border-top: 1px solid whitesmoke;
            border-bottom: 1px solid lightgray;
        }
    }

    .hero-image-wrapper {
        height: calc(100vh - 5rem);
        background-color: greenyellow;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scroll-prompt {
        font-size: .9rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 12.5%;

        p {
            margin: 0 1rem;
        }
    }
}

@media (max-width: 500px) {
    .scroll-prompt p {
        display: none;
    }
}