@import '../styles/variables.scss';

.container {
    width: 100%;
    min-height: 40rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: darkslategrey;
    color: whitesmoke;
    background-image: url('../../static/hero-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;

    .hero-text {
        margin: 0 2rem;
        justify-self: flex-start;

        h1 {
            font-family: $serif-font;
            font-size: 5rem;
            animation: slideInFromAbove .5s;
        }

        h3 {
            width: 50%;
            animation: slideInFromBelow .5s;
        }

        .divider {
            opacity: 0;
            height: 1rem;
            width: 100%;
            border-top: 1px solid whitesmoke;
            -webkit-animation: appear .5s forwards;
            /*for less modern browsers*/
            animation: appear .5s forwards;
            animation-delay: .5s;
        }
    }


}

.hero-img {
    filter: blur(1px);
}

@keyframes slideInFromAbove {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInFromBelow {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}