.hero-wrapper {
    position: absolute;
    top: 5rem;
    left: 0;
    height: 45rem;
    width: 100%;

    .hero-text-wrapper {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 3rem;
        background-color: rgb(213, 228, 227);

        .hero-title {
            font-size: 4rem;
        }

        .hero-description {
            text-transform: uppercase;
            font-weight: 500;

        }
    }

    .hero-image-wrapper {
        height: 55rem;
        background-color: greenyellow;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}