@media (min-width: 800px) {
    .hero-wrapper {
        margin-top: 5rem;
        position: relative;
        height: 45rem;
        width: 100%;

        .hero-text-wrapper {
            width: 45%;
            height: 70vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: rgb(213, 228, 227);
            padding: 7.5vh 7.5vw;

            .hero-title {
                font-size: 4rem;
            }

            .hero-description {
                margin: 1rem .5rem;
                font-size: .9rem;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: .1rem;
            }

            .separator {
                height: 1px;
                margin: 0.5rem 0;
                width: 50%;
                border-top: 1px solid whitesmoke;
                border-bottom: 1px solid lightgray;
            }
        }

        .hero-image-wrapper {
            height: calc(100vh - 5rem);
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;

            .slide-wrapper {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        }

        .scroll-prompt {
            font-size: .8rem;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: -1;
            top: calc(100vh - 5rem);
            transform: translateY(-100%);
            left: 12.5%;

            img {
                transform: scale(.75);
            }
        }
    }
}

@media (max-width: 800px) {

    .hero-wrapper {
        margin-top: 5rem;
        height: calc(100vh - 5rem);
        position: absolute;
        display: flex;
        flex-direction: column-reverse;

        .scroll-prompt {
            display: none;
        }

        .hero-image-wrapper {
            position: absolute;
            left: 0;
            width: 100vw;
            height: 90vh;

            .slide-wrapper {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        }

        .hero-text-wrapper {
            padding: 5vh 5vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: rgb(213, 228, 227);
            position: absolute;
            top: calc(50vh + 5rem);
            left: 0;
            width: 100vw;

            .hero-description {
                margin: 1rem 0;
                text-transform: uppercase;
                font-weight: 600;
            }

            .separator {
                height: 1px;
                margin: 0.5rem 0;
                width: 75%;
                border-top: 1px solid whitesmoke;
                border-bottom: 1px solid lightgray;
            }
        }
    }
}