.latest-wrapper {
  height: 100%;
}

.latest-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat top/100% url("../../static/latest-title.png");
}
