.latest-wrapper {
  height: 100%;
}

.clip-text {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  color: #fff;
  -webkit-background-clip: text;
  display: block;
  height: 100%;
  -webkit-text-fill-color: transparent;
  padding: 2.5vh 2.5vh 22.5vh 2.5vh;
  background-position: center;
  background-size: cover;
  word-spacing: 50rem;
}

.latest-link {
  text-decoration: none;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: "";
  background-position: center;
  background-size: cover;
}

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-position: center;
  background-size: cover;
}

/* Text Background (black zone) */
.clip-text:after {
  position: absolute;
  z-index: -1;
  top: 2rem;
  right: 2.5rem;
  bottom: 22rem;
  left: 2.5rem;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}

@media (min-width: 400px) {
  .clip-text {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .clip-text {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .clip-text {
    font-size: 4rem;
  }
}

@media (min-width: 1500px) {
  .clip-text {
    font-size: 5rem;
  }
}

@media (min-width: 1800px) {
  .clip-text {
    font-size: 6rem;
  }
}
