.latest-wrapper {
  height: 46.5vh;
}

.clip-text {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  position: relative;
  text-align: center;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 100%;
  padding: 25% 25%;
  background-position: center;
  background-size: cover;
  word-spacing: 50rem;
  display: flex;
  align-items: center;
}

.latest-link {
  text-decoration: none;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: "";
  background-position: center;
  background-size: cover;
}

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-position: center;
  background-size: cover;
}

/* Text Background (black zone) */
.clip-text:after {
  z-index: -1;
  // top: 2vh;
  // right: 2.5vh;
  // bottom: 22vh;
  // left: 2.5vh;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background-color: #fff;
}

// @media (min-width: 400px) {
//   .clip-text {
//     font-size: 2rem;
//   }
// }

// @media (min-width: 800px) {
//   .clip-text {
//     font-size: 3rem;
//   }
// }

// @media (min-width: 1200px) {
//   .clip-text {
//     font-size: 4rem;
//   }
// }

// @media (min-width: 1500px) {
//   .clip-text {
//     font-size: 5rem;
//   }
// }

// @media (min-width: 1800px) {
//   .clip-text {
//     font-size: 6rem;
//   }
// }
