.latest-wrapper {
  height: 44vh;
}

.clip-text {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  position: relative;
  text-align: center;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 100%;
  padding: 10vw 10vw;
  background-position: center;
  background-size: cover;
  word-spacing: 50rem;
  display: flex;
  align-items: center;
}
* .latest-link {
  text-decoration: none;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: "";
  background-position: center;
  background-size: cover;
}

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-position: center;
  background-size: cover;
}

/* Text Background (black zone) */
.clip-text:after {
  z-index: -1;
  // top: 2vh;
  // right: 2.5vh;
  // bottom: 22vh;
  // left: 2.5vh;
  top: .5rem;
  bottom: .5rem;
  left: .5rem;
  right: .5rem;
  background-color: hsla(0, 0%, 100%, 0.8);
}

// @media (max-width: 1000px) {
// .latest-wrapper {
//   height: 25rem;
// }
// }

@media (max-width: 767px) {
  
  .latest-wrapper {
    height: 15rem;
  }

  .clip-text {
    font-size: 3rem;
  }  
}

@media (max-width: 480px) {
  .clip-text {
    font-size: 3rem;
  }
}