.posts-wrapper {
  background: linear-gradient(to bottom, white, hsl(176, 22, 86));
  margin-top: 1rem;
  height: 90vh;

  .posts-text {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recent-post-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 800px) {
  .posts-wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);

    .posts-text {
      grid-column: 1 / 9;
      grid-row: 1 / 17;
    }
  }

  .posts-wrapper .post:nth-child(2) {
    grid-column: 7 / 14;
    grid-row: 1 / 9;
  }

  .posts-wrapper .post:nth-child(3) {
    grid-column: 7 / 12;
    grid-row: 9 / 17;
  }

  .posts-wrapper .post:nth-child(4) {
    grid-column: 12 / 17;
    grid-row: 9 / 17;
  }
}

.post-text {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.1rem;
  border-top: solid 5px rgba(255, 255, 255, 0.9);
  overflow: hidden;
}
