.prompt-toggler {
  position: fixed;
  bottom: 0;
  left: 50vw;
  padding: 1rem;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 1.2rem;

  .prompt-open {
    cursor: pointer;
  }
}

.action-result {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: hsla(0, 0%, 0%, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .result-text {
    width: 40rem;
    height: 10rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #32abe2;
  }
}

.prompt-wrapper {
  position: fixed;
  width: 50vw;
  max-height: 0;
  bottom: 0;
  left: 25vw;
  z-index: 9;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: appear 1s forwards;
  animation-delay: 2s;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .prompt-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;

    .prompt-text {
      color: whitesmoke;
      margin-left: auto;
    }

    .prompt-close {
      margin-left: auto;
      cursor: pointer;
      font-size: 2rem;
      color: whitesmoke;
    }
  }

  .prompt-form {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .email-input {
    width: 20rem;
    max-width: 80vw;
    height: 3rem;
    border: none;
    padding-left: 0.5rem;
    border-radius: 5px;
  }

  .email-input:active,
  .email-input:focus {
    outline: none;
  }

  .button-wrapper {
    margin: 0.5rem;
  }
}

@media (max-width: 1000px) {
  .prompt-wrapper {
    font-size: 1rem;
    width: 100vw;
    left: 0;
    bottom: 0;
    width: 100vw;
    left: 0;
  }
}

@media (max-width: 480px) {
  .prompt-form {
    flex-direction: column;
  }

  .email-input {
    margin-bottom: 1rem;
  }
}

@keyframes appear {
  from {
    max-height: 0;
  }

  to {
    max-height: 100vh;
  }
}
